{% extends 'base.html' %}


{% block content %}
<div class="row action_field">
    <div class="col">
        <h2>Add task to the list:</h2>
        <form class="add_task" method="POST" enctype="multipart/form-data" action="{% url 'add' %}">

            {% csrf_token %}
            <div>
            {{ form.as_p }}
            </div>
            <br>
            <div>
                <p>
                    <button class="btn btn-primary" type="submit">Add Item</button>
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock content %}