{% extends 'base.html' %}


{% block content %}
<!-- Content Goes here -->
{% if user.is_authenticated %}
<h2 class="center">Task List</h2>

<div class="table-area">
    <table class="table table-dark table-striped table-sm">
        <thead>
        <tr class="table-primary">
            <th>Project</th>
            <th>Task</th>
            <th>Owner</th>
            <th>Due date</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Toggle</th>
            <th>Delete</th>
        </tr>
        </thead>
        {% for item in items %}
        <tr>
            <tbody>
            {% if item.done %}
            <td><strike>{{ item.project }}</strike></td>
            <td><strike>{{ item.task }}</strike></td>
            <td><strike>{{ item.owner }}</strike></td>
            <td><strike>{{ item.due_date|date:"d/M/y"|lower }}</strike></td>
            <td><strike>Closed</strike></td>
            {% else %}
            <td>{{ item.project }}</td>
            <td>{{ item.task }}</td>
            <td>{{ item.owner }}</td>
            <td>{{ item.due_date|date:"D d M Y"|lower }}</td>
            <td>Open</td>
            {% endif %}
            <td>
                <a href="/edit/{{ item.id }}">
                    <button type="button" class="btn btn-primary">Edit</button>

                </a>
            </td>
            <td>
                <a href="/toggle/{{ item.id }}">
                    <button type="button" class="btn btn-success">Toggle</button>

                </a>
            </td>
            <td>
                <a href="/delete/{{ item.id }}">
                    <button type="button" class="btn btn-danger">Delete</button>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>All task completed.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<a type="button" class="btn btn-warning col" href="/add">Add an Item</a>
{% else %}
<div class="align-content-center flex-wrap">
<h3 class="col">Welcome in the Project Management System</h3>

<p class="col">This is the place where your journey begin, 
so please <a class="button" href="{% url 'account_login' %}">Login</a> if you are a user or <a class="button" href="{% url 'account_signup' %}">Register</a> yourself 
to receive an access to this page</p>
</div>

{% endif %}

{% endblock content %}