{% extends 'base.html' %}


{% block content %}
<h2>See project list:</h2>
<form method="POST" enctype="multipart/form-data" action="{% url 'projects' %}">

    <h2 class="center">Project List</h2>
    {% csrf_token %}
    <div class="table-area">
        <table class="table table-dark table-striped table-sm">
            <thead>
            <tr class="table-primary">
                <th>Project</th>
                <th>Update Project Details</th>
                <th>Delete Project</th>
            </tr>
            </thead>
            {% for project in project_list %}
            <tr>
                <tbody>
                <td>{{ project }}</td>
                <td>
                    <a href="/update_project/{{ project.id }}">
                        <button type="button" class="btn btn-primary">Update</button>
                    </a>
                </td>
                <td>
                    <a href="/delete_project/{{ project.id }}">
                        <button type="button" class="btn btn-danger">Delete</button>
                    </a>
                </td>
                <td>
                    <a href="/open_project/{{ project.id }}">
                        <button type="button" class="btn btn-danger">See all tasks</button>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>Here is no project in the list.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

</form>
</div>
<p>
    <a class="btn btn-primary" href="{% url 'add_project' %}">Add Project</a>
</p>
</div>
{% endblock content %}