{% extends 'base.html' %}


{% block content %}
<!-- Project list -->
<form method="POST" enctype="multipart/form-data" action="{% url 'projects' %}">

    <h2 class="center">Project List</h2>
    {% csrf_token %}
    <div class="table-responsive-md">
        <!-- table -->
        <table class="table table-dark table-striped table-sm align-middle">
            <!-- tabke header -->
            <thead>
                <tr class="table-primary">
                    <th class="center">Project</th>
                    <th class="center">Update Project Details</th>
                    <th class="center">Delete Project</th>
                </tr>
            </thead>
            {% for project in project_list %}
            <tr>
                <!-- table data -->
                <tbody>
                    <td>{{ project }}</td>
                    <td class="center">
                        <a href="/update_project/{{ project.id }}">
                            <button type="button" class="btn btn-primary">Update</button>
                        </a>
                    </td>
                    <td class="center">
                        <a href="/delete_project/{{ project.id }}">
                            <button type="button" class="btn btn-danger">Delete</button>
                        </a>
                    </td>
            </tr>
            <!-- <if list empty -->
            {% empty %}
            <tr>
                <td>Here is no project in the list.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

</form>
<!-- add project button -->
</div>
<p>
    <a class="btn btn-primary" href="{% url 'add_project' %}">Add Project</a>
</p>
</div>
{% endblock content %}