@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Montserrat:wght@400;600&display=swap');
/* font-family: 'Merienda', cursive;
font-family: 'Montserrat', sans-serif; */

html>body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--bs-gray-900);
  font: 1rem/1.5 var(--bs-font-sans-serif);
}

main {
  flex: 1 0 auto;
}

.nav-font {
  font-family: 'Merienda', cursive;
  font-weight: 800;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

label {
  color: aliceblue;
  float: left;
  padding-right: 7vw;
}

select,
input {
  float: left;
  width: 55vw;
}

.site {
  background-color: brown;
}

.footer-font {
  font-family: 'Merienda', cursive;
  font-weight: 800;
  color: aliceblue;
}

footer {

  bottom: 0;
  height: auto;
  width: 100vw;
}

h1,
h2,
h3,
p,
li,
details {
  color: aliceblue;
}

li {
  list-style-type: none;
}

p {
  height: 4vh;
  text-align: -webkit-center;
}

.page-num {
  color: aliceblue;
  text-align: center;
}


input#id_name {
  width: auto;
}

.add-btn {
  float: right;
}

.row>table {
  width: 90vw;
}


.action_field {
  padding-left: 20vw;
  padding-right: 20vw;
}

details.btn.btn-primary {
  width: -webkit-fill-available;
}

div>table {
  font-size: small;
}

.bottom-button {
  margin-bottom: 10vw;
}

.signup-btn {
  margin-top: 18vw;
  margin-bottom: 2vw
}

input#id_remember {
  margin-top: 1vw;
  width: auto;
}

form.search {
  margin-left: 13vw;
  margin-right: 18vw;
}

#done {
  height: 4vw;
}

input#id_done {
  height: 3vh;
  float: left;
  margin-top: 4px;
  width: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {

  label {
    padding-right: 3vw;
  }

  input#id_name {
    width: auto;
  }

  select,
  input {
    float: right;
    width: 30vw;
  }

  p {
    height: 4vh;
    text-align: -webkit-center;
  }
  

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .action_field, form.search, summary {
  font-size: larger;
  }

  .signup-btn {
    margin-top: 0vw;
    margin-bottom: 0vw;
  }

  form.search {
    margin-left: 20vw;
    margin-right: 18vw;
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  .row>table {
    width: 90vw;
  }
}