@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Montserrat:wght@400;600&display=swap');
/* font-family: 'Merienda', cursive;
font-family: 'Montserrat', sans-serif; */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgba(33, 37, 41, 1);
    font: 1rem/1.5 var(--bs-font-sans-serif);
  }
  
  main {
    flex: 1 0 auto;
  }

  .nav-font {
    font-family: 'Merienda', cursive;
    font-weight: 800;
  }

  .center {
    text-align: center;
  }

  label {
    color: aliceblue;
  }

  .site {
    background-color: brown;
  }

  footer {
    position: relative;
    bottom: 0;
    height: 10vw;
    width: 100vw;
  }
  .footer-font {
    font-family: 'Merienda', cursive;
    font-weight: 800;
    color:aliceblue;
  }

  h2, h3, p {
    color: aliceblue;
  }

  .search > p > input, select {
    position: relative;
    left: 10vw;
    float: right;
    width: 27vw;
  }